<%= form_with(model: cargo, local: true) do |form| %>
  <% if cargo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cargo.errors.count, "error") %> prohibited this cargo from being saved:</h2>

      <ul>
        <% cargo.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :selling_company_id %>
    <%= form.number_field :selling_company_id %>
  </div>

  <div class="field">
    <%= form.label :buying_company_id %>
    <%= form.number_field :buying_company_id %>
  </div>

  <div class="field">
    <%= form.label :container_number %>
    <%= form.text_field :container_number %>
  </div>

  <div class="field">
    <%= form.label :container_value %>
    <%= form.number_field :container_value %>
  </div>

  <div class="field">
    <%= form.label :goods %>
    <%= form.text_field :goods %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
