<p id="notice"><%= notice %></p>

<h1>Docks</h1>

<table>
  <thead>
    <tr>
      <th>Occupied</th>
      <th>Size</th>
      <th>Dock number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @docks.each do |dock| %>
      <tr>
        <td><%= dock.occupied %></td>
        <td><%= dock.size %></td>
        <td><%= dock.dock_number %></td>
        <td><%= link_to 'Show', dock %></td>
        <td><%= link_to 'Edit', edit_dock_path(dock) %></td>
        <td><%= link_to 'Destroy', dock, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dock', new_dock_path %>
