<!DOCTYPE html>
<html lang="en">

  <head>
    <title><%= yield :title %></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="page-top">
    <div id="wrapper">
      <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion pt-3" id="accordianSidebar">
        <a class="sidebar-brand d-flex align-items-center justify-content-center"href="#">
          <div class="sidebar-brand-text mx-3">Seaport Management System</div>
        </a>

        <hr class="sidebar-divider my-0"/>

        <% if user_signed_in? %>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span>Dashboard</span>
            </a>
          </li>

          <hr class="sidebar-divider">

          <li class="nav-item">
            <a class="nav-link" href="<%= destroy_user_session_path %>">
              <span>Log out</span>
            </a>
          </li>
        <% else %>
          <li class="nav-item">
            <a class="nav-link" href="<%= new_user_session_path %>">
              <span>Log in</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="<%= new_user_registration_path %>">
              <span>Sign up</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="<%= new_user_password_path %>">
              <span>Recover password</span>
            </a>
          </li>
        <% end %>
      </ul>

      <div id="content-wrapper" class="d-flex flex-column pt-3">
        <div id="content">
          <div class="container-fluid">
            <h1 class="h3 mb-4 text-gray-800"><%= yield :title %></h1>

            <% if notice %>
              <p class="alert alert-success"><%= notice %></p>
            <% end %>

            <% if alert %>
              <p class="alert alert-success"><%= alert %></p>
            <% end %>

            <%= yield %>
          </div>
        </div>

        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Seaport Management System<br/><br/>Submitted by Abhishek Kumar and Sashidhar Swarangi.</span>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
