<%= bootstrap_form_for(insurance, local: true, layout: :horizontal) do |form| %>
  <% if insurance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(insurance.errors.count, "error") %> prohibited this insurance from being saved:</h2>

      <ul>
        <% insurance.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.collection_select :ship, Ship.all, :id, :name %>

  <%= form.text_field :insurance_type, label: 'Type of Insurance' %>

  <%= form.number_field :premium, label: 'Premium Amount (in ₹)' %>

  <%= form.text_field :cargo_id, label: 'Type of Cargo associated with Ship' %>

  <%= form.file_field :document, value: nil, label: 'Upload Reciept' %>

  <div class="text-center">
    <%= form.submit 'Register Insurance', class: 'btn btn-primary' %>
  </div>
<% end %>
