<%= bootstrap_form_for(ship, local: true, layout: :horizontal) do |f| %>
  <% if ship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ship.errors.count, "error") %> prohibited this ship from being saved:</h2>

      <ul>
        <% ship.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :name, label: 'Name of the ship' %>

  <%= f.text_field :ship_type, label: 'Type of ship' %>

  <%= f.text_field :insurance_id, label: 'Insurance number' %>

  <%= f.text_field :captain, label: 'Name of the Captain' %>

  <%= f.email_field :captain_email, value: '', label: "Captain's E-mail address" %>

  <%= f.collection_select :beginning, Port.all, :id, :name, label: 'Starting port' %>

  <%= f.collection_select :destination, Port.all, :id, :name, label: 'Ending port' %>

  <div class="text-center">
    <%= f.submit 'Register new ship', class: 'btn btn-primary' %>
  </div>
<% end %>
