<%= content_for :title do %>Incoming Ships<% end %>

<div class="row">
  <div class="col-lg-12">
    <div class="card shadow mb-4">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">
          Incoming Ships
        </h6>
      </div>

      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="ships" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Name</th>
                <th>Captain</th>
                <th>Beginning</th>
                <th>Destination</th>
              </tr>
            </thead>

            <tbody>
              <% @ships.each do |ship| %>
                <tr>
                  <td><%= ship.name %></td>
                  <td><%= ship.captain %></td>
                  <td><%= ship.beginning %></td>
                  <td><%= ship.destination %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready( function() {
    $("#ships").dataTable();
  });
</script>
