<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ship.name %>
</p>

<p>
  <strong>Ship type:</strong>
  <%= @ship.ship_type %>
</p>

<p>
  <strong>Insurance:</strong>
  <%= @ship.insurance_id %>
</p>

<p>
  <strong>Captain:</strong>
  <%= @ship.captain %>
</p>

<p>
  <strong>Beginning:</strong>
  <%= @ship.beginning %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @ship.destination %>
</p>

<%= link_to 'Edit', edit_ship_path(@ship) %> |
<%= link_to 'Back', ships_path %>
